 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


header {
  @include outer-container;
  @include span-columns(12);

  .search-bar { 
    @include span-columns(6);
    @include shift(1);

    .octicon-mark-github {
      width: 50px;
      
    }
  }
  
  .user-nav {
    @include span-columns(3);}
    @include shift(9);
}