 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables



// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


header {
  @include outer-container;
  @include span-columns(12);

  .search-bar { 
    @include span-columns(6);
    @include shift(1);
  }
  
  .user-nav {
    @include span-columns(3);
    @include shift(9);
  }

  .octicon {
    font-size: 40px;
    width: 30px;
    height: 30px;
  }
}
